# VS Code
.vscode/

# Maven
target/
src-gen/
*.log
.mvn/wrapper/*.jar
.flattened-pom.xml
dependency-reduced-pom.xml

# Eclipse
META-INF
build.properties
plugin.properties
**/.settings
**/.project
**/.classpath

# Xtext
.antlr-generator-*-patch.jar
**/xtend-gen/

# IntelliJ
.idea/
**/ide/
