name: Validation

on:
  pull_request:

jobs:
  validate_dsls:
    name: DSLs
    uses: ./.github/workflows/ci.yml

  build_framework:
    name: Framework
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Framework
        uses: actions/checkout@v4
        with:
          path: framework
          repository: vitruv-tools/Vitruv
          ref: main
          fetch-depth: 0
      - name: Checkout Matching Framework Branch
        run: |
          cd framework
          git checkout -B ${{ github.head_ref }} origin/${{ github.head_ref }} || true
      - name: Cache
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml', '**/MANIFEST.MF') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Build Framework
        working-directory: ./framework
        run: >
          ./mvnw -B -U clean package
          '-Dstyle.color=always'
          '-Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn'
          '-Dorg.slf4j.simpleLogger.log.org.eclipse.tycho.core.resolver.DefaultTychoResolver=warn'
          '-Dorg.slf4j.simpleLogger.log.org.eclipse.tycho.osgi.configuration.MavenContextConfigurator=warn'
          '-Dorg.slf4j.simpleLogger.log.org.eclipse.sisu.equinox.launching.internal.DefaultEquinoxLauncher=warn'
          '-Dorg.slf4j.simpleLogger.log.org.eclipse.xtext.maven.XtextGenerateMojo=warn'
          '-Dorg.apache.commons.logging.Log=org.apache.commons.logging.impl.NoOpLog'
        env:
          MAVEN_OPTS: -Djansi.force=true
      - name: Store Framework Artifact
        uses: actions/upload-artifact@v3
        with:
          name: framework
          path: framework/releng/tools.vitruv.updatesite/target/repository
          retention-days: 1

  validate_casestudies:
    needs: [build_framework, validate_dsls]
    name: Case Studies
    runs-on: ubuntu-latest
    steps:
      - name: Download DSLs Artifact
        uses: actions/download-artifact@v3
        with:
          name: dsls
          path: dsls
      - name: Download Framework Artifact
        uses: actions/download-artifact@v3
        with:
          name: framework
          path: framework
      - name: Checkout Case Studies
        uses: actions/checkout@v4
        with:
          path: casestudies
          repository: vitruv-tools/Vitruv-CaseStudies
          ref: main
          fetch-depth: 0
      - name: Checkout Matching Case Studies Branch
        run: |
          cd casestudies
          git checkout -B ${{ github.head_ref }} origin/${{ github.head_ref }} || true
      - name: Cache
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml', '**/MANIFEST.MF') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Build and Verify Case Studies
        uses: coactions/setup-xvfb@v1
        with:
          working-directory: ./casestudies
          run: >
            ./mvnw -B -U clean verify
            -Dvitruv.dsls.url=file:///${{ github.workspace }}/dsls
            -Dvitruv.framework.url=file:///${{ github.workspace }}/framework
            -Dstyle.color=always
            -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
            -Dorg.slf4j.simpleLogger.log.org.eclipse.tycho.core.resolver.DefaultTychoResolver=warn
            -Dorg.slf4j.simpleLogger.log.org.eclipse.tycho.osgi.configuration.MavenContextConfigurator=warn
            -Dorg.slf4j.simpleLogger.log.org.eclipse.sisu.equinox.launching.internal.DefaultEquinoxLauncher=warn
            -Dorg.slf4j.simpleLogger.log.org.eclipse.xtext.maven.XtextGenerateMojo=warn
            -Dorg.apache.commons.logging.Log=org.apache.commons.logging.impl.NoOpLog
        env: 
          MAVEN_OPTS: -Djansi.force=true
